<nav class="navbar navbar-expand-lg navbar-light pt-lg-4 pt-0 px-lg-5"  style="z-index:4">
    <a class="navbar-brand ps-3" href="#">
        <!--img src="#" width="30" height="30" class="d-inline-block align-top" alt=""-->
        <h2>TVM Infotech</h2>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 pb-lg-3 fs-7">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pt-lg-2 ps-3" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item ps-4" href="/profile">My Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item ps-4" href="#!">Quick links</a></li>
                        <li><a class="dropdown-item ps-4" href="#!">Updates</a></li>
                    </ul>
                </li>
                <!---changes-->
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 pb-lg-3 fs lg-setright">
                <li class="nav-item dropdown pt-lg-3 ps-lg-5 fs-6">
                    <input type="text" id="search" class="form-control" placeholder="search" aria-label="search" name="search" ngModel>
                </li>
                <li class="nav-item dropdown pt-lg-3 px-lg-2 ps-4 py-2 fs-6">
                    <a href="#">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                      </a>
                  </li>
                <li class="nav-item dropdown pt-lg-3 px-lg-2 ps-4 py-2 fs-6">
                  <a href="#">  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    </a>
                </li>
                <li class="nav-item dropdown pt-lg-3 px-lg-2 ps-4 py-2 fs-6">
                    <a href="#"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg>
                      </a>
                  </li>
                  <li class="nav-item dropdown px-lg-2 pb-lg-2 ps-4 py-2 fs-6">
                    <a href="#">
                    <img src="\assets\Profile.jpg" width="30" height="30" class="rounded-circle" alt="...">
                    </a>
                  </li>
            </ul>
        </div>
    </nav>
