.navbar
{
    height: 30px;
    display: flex;
    width:100%;
}

.fs
{
    font-size: 14px;
}

#search
{
    height:20px;
}

a
{
    text-decoration: none;
    color:rgba(59, 54, 54, 0.776);
}

.setright
{
    float:right !important;
}

